.vocabulary-tiles-container {
  width: calc(100% - 305px);
  height: calc(100vh - 50px);
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  position: absolute;
  top: 50px;
  font-size: 20px;
}

.vocabulary-tile {
  display: block;
  padding: 20px;
  width: calc(100% - 400px);
  margin: 0 200px;
  overflow: hidden;
}

.vocabulary-tile:not(:last-child) {
  border-bottom: 1px solid black;
}

.vocabulary-tile-word {
  font-size: 30px;
}

.vocabulary-tile-word:hover, .vocabulary-tile-verb-form:hover {
  cursor: pointer;
  text-shadow: 0 0 1px black;
  text-decoration: underline;
}

.vocabulary-tile-type {
  font-size: 20px;
  font-style: italic;
  margin-right: 20px;
}

.vocabulary-tile-meaning:not(:last-child) {
  margin-right: 20px;
}

.vocabulary-tile-verb-form-connector {
  color: grey;
  font-style: italic;
}

.vocabulary-playback-speed-slider {
  position: fixed;
  left: 10px;
  top: 70px;
  text-align: center;
  width: 50px;
}

.vocabulary-playback-speed-slider > span {
  position: relative;
  height: 200px;
}

.vocabulary-list-group-title {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
}